* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 5em;
}
