@import url('https://fonts.googleapis.com/css2?family=Galada&family=Handlee&family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #858694;
  color: #fff;
  position: fixed;
  top: 0;
}

h1 {
  font-size: 2rem;
  font-family: 'Galada', cursive;
  color: #2f0202;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

ul li {
  list-style: none;
  font-size: 1.2rem;
}

.nav-link {
  text-decoration: none;
  color: #2f0202;
}

.nav-link:hover {
  color: #fff;
  transition: 0.3s all ease-in-out;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}

.home-page {
  width: 70%;
  margin: 12rem auto;
}

h3 {
  font-family: 'Galada', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #2f0202;
  margin-bottom: 2rem;
}

p {
  font-family: 'Handlee', cursive;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  word-spacing: 10px;
  margin-top: 2rem;
  color: #2f0202;
}

.calculator-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 14rem auto;
}

.cal-text {
  display: flex;
  align-self: flex-start;
}

.cal-text h3 {
  font-family: 'Handlee', cursive;
  font-size: 3rem;
  font-weight: normal;
  color: #2f0202;
}

.calculator {
  width: 400px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #858694;
}

.cal-display {
  background-color: #858694;
  padding: 20px;
  min-height: 60px;
  text-align: right;
  font-size: 20px;
  color: #fff;
}

.cal-digits {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.cal-operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cal-btn {
  flex: 1 1 33.3333%;
  min-height: 60px;
  border: none;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  outline: none;
  font-size: 16px;
}

.cal-btn:hover {
  background-color: #d3d3d4;
  color: #de6b0c;
}

.cal-operators .cal-btn {
  background-color: #f5913e;
  border-right: none;
}

.cal-operators .cal-btn:hover {
  background-color: #de6b0c;
  color: #fff;
}

.cal-digits .cal-btn:nth-of-type(13) {
  min-width: 199px;
}

.quotes {
  margin: 16rem auto;
  width: 70%;
}

.quote {
  font-family: 'Handlee', cursive;
  font-size: 2rem;
  font-weight: normal;
  color: #2f0202;
}
